@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;1,400&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
}

/* root values */
:root{
    --container-color: #1a1e21;
    --second-color: rgb(73, 216, 241);
    --text-color: #172317;
    --bg-color: #f7f7f7;
}

::selection{
    color: var(--bg-color);
    background: var(--second-color);
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    width: 100%;
}

section{
    padding: 3rem 0 2rem;
}

.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

a{
    color: #fff;
}

.login-container, .register-container {
    position: relative; 
    background-image: url("../images/l.jpg");
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

.signup-link {
    margin-top: 1rem;
    text-align: center;
    color: #6B7280;
    font-size: 0.875rem;
}

.signup-link a {
    color: #4F46E5;
    text-decoration: underline;
    font-weight: 500;
    transition: color 0.3s ease;
}

.signup-link a:hover {
    color: hsl(199, 98%, 56%);
}


/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100; /* Ensure the header stays on top */
    /* background: var(--bg-color); */
    box-shadow: 0 4px 6px rgba(0, 0, 0.2, 0.2); /* Permanent shadow */
    background-color: rgba(0.8, 0.8, 0.8, 0.8); /* Adjust the opacity as needed */
}

header.shadow{
    background: var(--bg-color);
    box-shadow: 0 1px 4px hsl(0 4% 14% / 10%);
    transition: .5s;
}

/* Header Button */
header .btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background: var(--second-color);
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 200; /* Ensure button is on top of other elements */
    transition: background-color 0.3s ease;
}

header .btn:hover {
    background: hsl(199, 98%, 56%);
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--second-color);
}

.logo span {
    color: var(--second-color);
}

.login{
    color: var(--second-color);
    font-size: 40px;
}

.login:hover{
    color: hsl(199, 98%, 56%);
    transition: .5s;
}

.home{
    width: 100%;
    min-height: 440px;
    background: url("../images/b.jpg");
    background-position: center;
    background-size: cover;
    display: grid;
    justify-content: center;
    align-items: center;
}

.home-text{
    color: white;
    text-align: center;
}

.home-title{
    font-size: 3.5rem;
    /* background-color: rgba(0, 0, 0, 0.15); */
}

.home-subtitle{
    font-size: 1rem;
    font-weight: 400;
    /* background-color: rgba(0, 0, 0, 0.15); */
}


.post-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

.filter-item{
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
}

.active-filter{
    background: var(--second-color);
    color: var(--bg-color);
    padding: 4px 10px;
    border-radius: 4px;
}


.post{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    justify-content: center;
    gap: 1.5rem;
}

.post-box{
    background: var(--bg-color);
    box-shadow: 0 4px 14px hsl(35deg 25% 15% / 10%);
    padding: 15px;
    border-radius: 0.5rem;
}

.post-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}

.category{
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--second-color);
}

.post-title{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text-color);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.post-date{
    display: flex;
    font-size: 0.875rem;
    text-transform: uppercase;
    margin-top: 4px;
    font-weight: 400;
}

.post-description{
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 5px 0 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.profile{
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid var(--second-color);
}

.profile-name{
    font-size: .8rem;
    font-weight: 500;
}

.u-p{
    padding-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.u-p .form, 
.u-p .delete-form {
    width: 100%; /* Adjust width if needed */
    max-width: 400px; /* Optional: Limit the max width */
}

.u-p select {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    color: #000;
}

.delete-form-title {
    font-size: 1rem;
    color: #333; /* Adjust title styling if needed */
    text-align: center;
    margin-bottom: 0.5rem;
}
.u-p.container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;    /* Center align the forms */
    gap: 1rem;              /* Add space between the forms */
}


.profile-box{
    background: var(--bg-color);
    box-shadow: 0 4px 14px hsl(35deg 25% 15% / 10%);
    padding: 40px;
    border-radius: 0.5rem;
    width: 400px;
    
}
.p-i{
    display: flex;
    align-items: center;
    justify-content: center;
}
.p-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    
}
.p-category{
    font-size: 2.5rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
/* .p-title{
    padding-top: 10px;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text-color);
    display: flex;
    justify-content: center;
} */
.p-date{
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    margin-top: 4px;
    font-weight: 400;
}
.bt {
    margin-top: 10px;
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: center;
    gap: 10px; /* Add spacing between buttons */
}





.p-btn{
    padding: 4px 6px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 4px;
    background: var(--second-color);
    color: var(--bg-color);
}
.p-btn:hover{
    background: hsl(199, 98%, 56%);
    transition: .5s;
}

.delete-form {
    background-color: #fff;
    display: block;
    padding: 1rem;
    max-width: 350px;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    margin-top: 1rem;
}

.delete-form-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #000;
}

.delete-form button {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #DC2626;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 100%;
    border-radius: 0.5rem;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 1rem;
}

.form {
    background-color: #fff;
    display: block;
    padding: 1rem;
    max-width: 350px;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #000;
}

.input-container input, .form button {
    outline: none;
    border: 1px solid #e5e7eb;
    margin: 8px 0;
    width: 100%; /* Ensure input and button have the same width */
    padding: 0.75rem 1.25rem; /* Match padding with button */
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.input-container {
    position: relative;
    width: 100%; /* Make container full width of form */
    margin-bottom: 1rem;
}

.input-container input {
    background-color: #fff;
    padding: 0.75rem 1.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 100%; /* Make input full width of container */
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    margin: 8px 0;
}

.submit {
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: #4F46E5;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    text-transform: uppercase;
    cursor: pointer;
}

.synopsis-container textarea {
    background-color: #fff;
    padding: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 300px;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    resize: none;
}

.signup-link {
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
}

.signup-link a {
    text-decoration: underline;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgba(51, 51, 51, 0.055);
}

/* main {
    flex: 1;
    background-color: #000;
}    */


footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    margin-top: auto;
    /* margin-top: 3rem; */
    background: #111;
    display: flex;
    font-family: sans-serif;
    justify-content: space-between;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.footer-container .sec{
    margin-right: 30px;
}

.footer-container .sec.aboutus{
    width: 40%;
}

.footer-container h2{
    position: relative;
    color: #fff;
    margin-bottom: 15px;
}

.footer-container h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: rgb(77, 228, 255);
}

footer p{
    color: #fff;
}



.quicklinks{
    position: relative;
    width: 25%;
}

.quicklinks ul li{
    list-style: none;
}

.quicklinks ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    transition: .3s;
}

.quicklinks ul li a:hover{
    color: #fff;
}

.footer-container .contactBx{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.contactBx .info{
    position: relative;
}

.contactBx .info li{
    display: flex !important;
    margin-bottom: 16px;
}

.contactBx .info li span:nth-child(1){
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.contactBx .info li span{
    color: #999;
}

.contactBx .info li a{
    color: #999;
    text-decoration: none;
    transition: .5s;
}

.contactBx .info li a:hover{
    color: #fff;
}

@media (max-width: 1060px){
    .container{
        margin: 0 auto;
        width: 95%;
    }

    .home-text{
        width: 100%
    }
}

@media (max-width: 768px){
    .nav{
        padding: 10px 0;
    }

    section{
        padding: 2rem 0 !important;
    }

    .header-content{
        margin-top: 3rem !important;
    }

    .home{
        min-height: 380px;
    }

    .home-title{
        font-size: 3rem;
    }

    .header-title{
        font-size: 2rem;
    }

    .header-img{
        height: 370px;
    }

    .post-header{
        height: 435px;
    }

    .post-header{
        margin-top: 9rem !important;
    }
}

@media (max-width: 570px){
    .post-header{
        height: 390px;
    }

    .header-title{
        width: 100%;
    }

    .header-img{
        height: 340px;
    }
}

@media (max-width: 396px){
    .home-title{
        font-size: 2rem;
    }

    .home-subtitle{
        font-size: 0.9rem;
    }

    .home{
        min-height: 300px;
    }

    .post-box{
        padding: 10px;
    }

    .header-title{
        font-size: 1.4rem;
    }

    .header-img{
        height: 240px;
    }

    .post-header{
        height: 335px;
    }

    .header-img{
        height: 340px;
    }
}

/* Footer Media Query */
@media (max-width: 991px){
    footer{
        padding: 40px;
        font-size: 20px;
    }

    footer .footer-container{
        flex-direction: column;
    }

    footer .footer-container .sec{
        margin-right: 0;
        margin-bottom: 40px;
    }

    footer .footer-container .sec.aboutus{
        width: 100% !important;
    }

    footer .footer-container .quicklinks{
        width: 100%;
    }

    footer .footer-container .contactBx{
        width: 100%;
    }
}